@font-face {
    font-family: 'Pretendard';
    src: url('/src/shared/assets/fonts/PretendardVariable.woff2')
        format('woff2');
    font-weight: 100 900; /* 모든 weight를 하나의 파일로 */
    font-display: swap;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply font-pretendard text-black leading-normal
    }
}

@layer base {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
