@import 'tailwindcss';
 @plugin "@tailwindcss/typography";

@theme {
    /*기본 색상 비활성화*/
    --color-gray-*: initial;

    /*배경*/
    --color-bg-gray: #f8f8f9;

    /*버튼*/
    --color-kakao-btn: #ffe240;

    /*black*/
    --color-black: #222124;

    --background-image-main-gr: var(--main-gr, linear-gradient(45deg, #8100B3 0%, #D0F 100%));

    
    /*gray*/
    --color-gray-100: #f8f8f8;
    --color-gray-200: #f2f2f2;
    --color-gray-300: #dcdcdc;
    --color-gray-400: #c2c2c2;
    --color-gray-500: #a8a8a8;
    --color-gray-600: #6d6d6d;
    --color-gray-700: #5a5a5a;
    --color-gray-800: #494949;
    --color-gray-900: #383838;

    /*텍스트*/
    --color-text1: #000;
    --color-text2: #4c4c4c;

    /*티어 색상*/
    --color-bronze: #8d5200;
    --color-silver: #b3b3b3;
    --color-gold: #ffd900;
    --color-platinum: #00ffda;
    --color-diamond: #00e5ff;

    /*메인 색상*/
    --color-main-1: #ba00ff;
    --color-main-2: #8100b3;
    --color-main-end: #dd00ff;

    /*학습 페이지 - 헤더*/
    --color-neutral-20: #9747ff;
    --color-neutral-60: #4d4d4d;
    --color-neutral-100: #030303;

    /*학습 페이지 - 문제 영역*/
    --color-correct: #00a80b;
    --color-error: #ff3b2f;
    --color-error-info: #d00000;

    /*프로필 색상*/
    --color-profile-1: #eb1d64;
    --color-profile-2: #f44334;
    --color-profile-3: #ffea3f;
    --color-profile-4: #4cae51;
    --color-profile-5: #53a8eb;
    --color-profile-6: #3f50b5;
    --color-profile-7: #9d27b0;
    --color-profile-8: #673ab7;
    --color-profile-9: #808081;
    --color-profile-10: #000;

    /* 반응형 브레이크포인트 */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* 번호 색상 */
    --color-3: #FFB608;

    /*폰트*/
    --font-pretendard: 'Pretendard', sans-serif;
    --font-mbc: 'MBC1961GulimM', sans-serif;

    /*헤더*/
    --header-height: 74px;

    /*스켈레톤 애니메이션*/
    --animate-skeleton-pulse: skeletonPulse 1.5s infinite;
    --animate-skeleton-wave: skeletonWave 1.6s infinite;

    /*토스트 애니메이션*/
    --animate-fade-in-y: fadeInWithTransformY 0.5s forwards;
    --animate-fade-out-y: fadeOutWithTransformY 0.5s forwards;

    @keyframes skeletonPulse {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.4;
        }
    }

    @keyframes skeletonWave {
        0% {
            left: -150%;
        }
        50% {
            left: 0%;
        }
        100% {
            left: 150%;
        }
    }

    @keyframes fadeInWithTransformY {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOutWithTransformY {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(20px);
        }
    }
}


@font-face {
    font-family: 'Pretendard';
    src: url('/src/shared/assets/fonts/PretendardVariable.woff2')
        format('woff2');
    font-weight: 100 900; /* 모든 weight를 하나의 파일로 */
    font-display: swap;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply font-pretendard text-black leading-normal
    }
}

@layer base {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@layer utilities {
    .animate-fadeIn {
        animation: fadeIn 0.2s ease-in;
    }

    .bg-main-gradient {
        background: linear-gradient(45deg, var(--color-main-2) 0%, var(--color-main-end) 100%);
    }

    .text-main-gradient {
        background: linear-gradient(45deg, var(--color-main-2) 0%, var(--color-main-end) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .primary-btn {
        border-radius: 10px;
        background: #8100B3;
        color: #fff;
        cursor: pointer
    }

    .gray-btn {
        border-radius: 10px;
        background: var(--text-gray-500, #A8A8A8);
        color: #fff;
        cursor: pointer
    }

    .bg-space-gradient {
        background: linear-gradient(293deg, #4721CA 3.59%, #17034E 95.08%);
    }
    .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
  
  .custom-shadow{
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25)
    }

    .text-stroke-gradient {
        color: white;
        -webkit-text-stroke: 5px #8100B3;
        text-stroke: 5px #8100B3;
        paint-order: stroke fill;
    }
}

@layer base {
  .prose {
    font-style: normal !important;
    color: #1F2328 !important;
    line-height: 1.6;
    font-family: 'Pretendard';
  }


  .prose blockquote {
    quotes: none !important;
    padding: 0.5em 1em;
    border-left: 4px solid #dfe2e5;
    margin: 1em 0;
  }

  .prose blockquote::before,
  .prose blockquote::after {
    content: none !important;
  }


  .prose pre {
    background-color: #f6f8fa !important;
    border-radius: 6px !important;
    padding: 1em !important;
  }

  .prose pre code {
    background: transparent !important;
    color: #1F2328 !important;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
  }

  .prose code {
    background-color: #f6f8fa;
    border-radius: 4px;
    padding: 0.2em 0.4em;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.875em;
  }

  .prose table {
    border-collapse: collapse;
    table-layout: auto !important;
    width: auto !important;      
  }

  .prose th,
  .prose td {
    border: 1px solid #dfe2e5;
    padding: 0.5em 1em!important;
  }

  .prose th:first-child,
  .prose td:first-child {
    padding-left: 1em !important;
  }

  .prose th:last-child,
  .prose td:last-child {
    padding-right: 1em !important;
  }

  .prose th {
    font-weight: 600;
    text-align: center !important;
  }


  .prose tr:nth-child(even) td {
    background-color: #f6f8fa;
  }


  .prose blockquote p,
  .prose li,
  .prose strong {
    font-style: normal !important;
  }

  .prose li::marker {
  color: #1F2328 !important; 
}

  .prose blockquote {
    quotes: none !important;
    color: #59636E !important;
  }

  .prose blockquote::before,
  .prose blockquote::after {
    content: none !important;
  }
}



