@layer utilities {
  .glass-morphism-border {
    @apply after:content-[''] after:p-[0.5px] after:pointer-events-none after:absolute after:inset-0
        after:bg-linear-to-l after:from-white/70 after:via-white/20 after:to-white/70 
        after:mask-[linear-gradient(#fff_0_0),linear-gradient(#fff_0_0)] after:[mask-origin:content-box,border-box] after:[mask-clip:content-box,border-box] after:mask-exclude;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-in;
  }

  .bg-main-gradient {
    background: linear-gradient(45deg, var(--color-main-2) 0%, var(--color-main-end) 100%);
  }

  .text-main-gradient {
    background: linear-gradient(45deg, var(--color-main-2) 0%, var(--color-main-end) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .primary-btn {
    border-radius: 10px;
    background: var(--color-cta);
    color: #fff;
    cursor: pointer;
  }

  .gray-btn {
    border-radius: 10px;
    background: var(--primitive-gray-500);
    color: #fff;
    cursor: pointer;
  }

  .bg-space-gradient {
    background: linear-gradient(292.58deg, #4721ca 3.59%, #17034e 95.08%);
  }

  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }

  .custom-shadow {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }

  .text-stroke-gradient {
    color: white;
    -webkit-text-stroke: 5px var(--color-cta);
    paint-order: stroke fill;
  }
}
